{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
    {% block content %}
        <h5>Detail about {{tutor}}</h5>
        <p>Vak: {{tutor.vak}}</p>
        <h5>Make an appointment with this tutor</h5>
        <p>Choose the date and convenient </p>
        <form id="app" action="{% url 'staff:tutor-detail' tutor.id  %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button type="submit">Appoint</button>
        </form>

    {% endblock %}
